<h1 class="page-header">Edit OKR</h1>


   <%= form_for @okr, url: update_okr_path, method: :patch do |f| %>
   
      <%= f.label "Objective"%>
      <%= f.text_field :objective%>
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr1%>
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr2%>
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr3%>            
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr4%>
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr5%>            
      <br>
      <br>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
    <br>
    <%= link_to "Delete this OKR", delete_okr_path, method: "delete" %>
 

