<h1 class="page-header">New OKR</h1>


   <%= form_for :okr, url: create_okr_path, method: :post do |f| %>
   
      <%= f.label :objective%>
      <%= f.text_field :objective%>
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr1%>
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr2%>
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr3%>            
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr4%>
      <br>
      <%= f.label :Key_result%>
      <%= f.text_field :kr5%>            
      <br>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>


