<%= render 'layouts/sidebar' %>

<div class="row">
	<div class="col-md-2">

	  <%if current_user.team_id == nil %>
	    <p>No teammates yet</p> 
	  <%else%>
	    <%teammates = current_user.team.users%>
	    <%teammates.each do |teammate|%>
	      <p><a href="<%=show_okr_path(teammate.id)%>"><%=teammate.name%></a></p>
	    <%end%>  
	  <%end%>
	</div>

	<div class="col-md-5">
		<h3><%=@teammate.name%>'s OKRs</h3>
		<%okrs = @teammate.okrs.all %>
		<%if okrs == nil %>
	    <p>No OKRs yet</p> 
	  <%else%>
	  	<%okrs.each do |okr|%>
        <p><strong>Objective:</strong> <%=okr.objective%></p>
        <%i=1%>
          <%until okr["kr#{i}"] == nil %>
            <p><strong>Key Result <%=i%>:</strong> <%=okr["kr#{i}"]%></p>
            <%i += 1%>
            <%end%>
      <%end%>
    <%end%>
  </div>
</div>


