<h1 class="page-header">My team</h1>

<div class="row placeholders">
  <%teammates = current_user.team.users.where("id != #{current_user.id}")%>
  <%teammates.each do |teammate|%>
    <div class="col-sm-3 placeholder">
        <h3><a href="<%=show_okr_path(teammate.id)%>"><%=teammate.name%></a></h3>
    </div>    
  <%end%>  
  </br>
  </br>
  </br>        
</div>

<hr size=1>

	<div class="col-sm-3" style="margin-left: -15px">
		<h4><%=@teammate.name%>'s OKRs</h4>
		<%okrs = @teammate.okrs.all %>
		<%if okrs == nil %>
	    <p>No OKRs yet</p> 
	  <%else%>
	  	<%okrs.each do |okr|%>
        Objective: <%=okr.objective%></br>
        <%i=1%>
          <%until okr["kr#{i}"] == nil %>
            <%=i%>: <%=okr["kr#{i}"]%></br>
            <%i += 1%>
            <%end%>
      <%end%>
    <%end%>
  </div>



  <div class="col-md-3">
    <h4><%=@teammate.name%>'s to-do's</h4>

    <%current_week = Time.now.strftime("%GW%V")%>
    <%todos = @teammate.todos.where("week_created = ?", current_week) %>
    <%if todos == nil || todos == [] %>
      <p>No to-do's yet</p> 
    <%else%>
      <%todos.each do |todo|%>
        <p>
          <%=todo.todo%>: <%=todo.pct_complete%>% done
        </p>
 
      <%end%>
    <%end%>


  </br>
    <h4>Last week's to-do's</h4>
    <%last_week = (Time.now-7.days).strftime("%GW%V")%>
    <%todos = @teammate.todos.where("week_created = ?", last_week) %>
    <%if todos == nil || todos == []%>
      <p>No to-do's last week</p> 
    <%else%>
      <%todos.each do |todo|%>
        <p>
          <%=todo.todo%>: <%=todo.pct_complete%>% done
        </p>
 
      <%end%>
    <%end%>
  </div>




  <div class="col-md-3">
      <div id="piechart" style="width: 400px; height: 250px; margin-left: -30px; margin-top: -5px"></div>
      <br>

      <a href="#" class="btn btn-primary btn-large" role="button" style="margin-left: 60px; margin-top: -20px">Props</a>
      <a href="#" class="btn btn-danger btn-large" role="button" style="margin-top: -20px">Berate</a>
  </div>
    


</div>


  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
   
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['To-do', 'Completed'],
          ['To-do\'s at least 75% finished',     gon.finished],
          ['Less than 75% finished',      gon.unfinished]
        ]);
  
        var options = {
          title: 'Percent of all to-do\'s completed',
          titleTextStyle: {
            fontSize: 16,
            bold: true,
            italic: false }
          };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
      
    </script>
