<h1 class="page-header">Edit To-do</h1>


   <%= form_for @todo, url: update_todo_path, method: :patch do |f| %>
   
      <%= f.label :To_do%>
      <%= f.text_field :todo%>         
      <br>
      <%= f.label :Percent_complete%>
      <%= f.text_field :pct_complete%>  
      <br>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
 

