
<h1 class="page-header">My To-do's</h1>


    <%= link_to "NEW To-do", new_todo_path%>
    <br>
    <br>

    <h5>To-do's this week</h5>

    <%current_week = Time.now.strftime("%GW%V")%>
    <%todos = current_user.todos.where("week_created = ?", current_week) %>
    <%if todos == nil || todos == [] %>
      <p>No to-do's yet</p> 
    <%else%>
      <%todos.each do |todo|%>
        <p>
          <a href="<%=edit_todo_path(todo)%>"><%=todo.todo%>: <%=todo.pct_complete%>% done</a>
        </p>
 
      <%end%>
    <%end%>


    <br>
    <h5>To-do's last week</h5>
    <%last_week = (Time.now-7.days).strftime("%GW%V")%>
    <%todos = current_user.todos.where("week_created = ?", last_week) %>
    <%if todos == nil || todos == []%>
      <p>No to-do's last week</p> 
    <%else%>
      <%todos.each do |todo|%>
        <p>
          <a href="<%=edit_todo_path(todo)%>"><%=todo.todo%>: <%=todo.pct_complete%>% done</a>
        </p>
 
      <%end%>
    <%end%>

  </div>
</div>

