<!DOCTYPE html>
<html>
<head>
  <title>Accountible</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['To-do', 'Completed'],
          ['Failed',     11],
          ['Succeeded',      2]
        ]);
  
        var options = {
          title: 'To-do\'s completed'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>



</head>
<body>


  <%= render 'layouts/header' %>
	<div class="container">
	    <div class="row">
	      <div class="col-md-12 col-sm-12">
	        <%flash.each do|key,value|%>
	                <div class="alert alert-<%=key%>"> <%=value%> </div>
	        <%end%>
	        <%= yield %>
	      </div>
	    </div>
	</div>

</body>
</html>
